
/*
*	Styles for list in bugs pages
*	
*/

.view{
	overflow: hidden;
}

.view .wrapper {
	overflow: hidden;
}

.view .man{
	float: left;
}

.view .man .item{
	text-align: left;
	margin: auto;
	font-size: 14pt;

}

.view .info,
.view .date-block{
	float: left;
	min-width: 300px;
	display: inline-block;
}

.view .date-block .item,
 .view .info .item{
	float: left;
	margin-right: 30px;
}


.view .item label,
.view .item p{
	display: inline-block;
}

.view .item p{
	min-width: 80px;
}

.view .post label,
.view .post p{
	font-size: 12pt;
}

.view .post {
	margin: 20px 0;
}

.view .date-block {
	float: right;
	text-align: right;
}

.view .status {
	width: 150px;
	margin: auto;
	text-align: center;
	overflow: hidden;
}

.view .imageStatus {
	color: #006dcc
}

.view .red {
	color: red;
}

.view .yellow {
	color: orange;
}

.view .action {
	float: right;
	text-align: right;
}


.view .buttons {
	float: right;
}

.view .buttons a{
	/*height: 35px;
	width: 35px;*/
	/*border: none;
	background-repeat: no-repeat;
	background-position: center; */
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11pt;

}
/*.view .buttons a:hover{
	background-position: center; 
}*/
/*.view #getButton{
	background-image: url(../images/kded.png);
}
.view #completeButton{
	background-image: url(../images/accept.png);
}
.view #sendButton{
	background-image: url(../images/email.png);
}*/



